<ion-view title="ஆண்டு 1" id="page4" style="background-color:#EDF415;">
  <ion-content padding="true" class="has-header">
    <h5 id="1-heading3" style="color:#589338;text-align:center;">4.7.1 ஒன்றாம் ஆண்டுக்கான பழமொழிகளையும் அவற்றின் பொருளையும் அறிந்து சரியாகப் பயன்படுத்துவர். </h5>
    <a ui-sref="page5()" id="1-button11" class="button button-positive button-block">இளங்கன்று பயம் அறியாது</a>
    <a ui-sref="page7()" id="1-button12" class="button button-positive button-block">இளைமைக் கல்வி சிலைமேல் எழுத்து </a>
    <a ui-sref="page9()" id="1-button13" class="button button-positive button-block">முயற்சியுடையோர் இகழ்ச்சியடையார்</a>
    <a ui-sref="page11()" id="1-button14" class="button button-positive button-block">அகத்தின் அழகு முகத்தில் தெரியும்</a>
  </ion-content>
</ion-view>