<ion-view title="வாக்கியம்/சூழல் " id="page6" style="background-color:#52DDEE;">
  <ion-content padding="true" class="has-header">
    <div id="page6-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">3 வயது குழந்தை வீட்டின் வெளியே இருந்த கொடிய விஷமுள்ள பாம்பினை எவ்வித பயமுமின்றி அங்கும் இங்கும் இழுத்துச் சொன்று விளையாடியது. அதனைப் பார்த்த ஊர் மக்கள் ‘இளங்கன்று பயமறியாது’ என்பது சரியாகத் தான் உள்ளது என்று பேசிக் கொண்டனர்.</p>
    </div>
    <h5 id="page6-heading8" style="color:#F01A64;">மேலும் தெளிவாக அறிய காணொலியைப் பார்க்கவும்.</h5>
    <div ng-init="videourl_video1=&quot;https://www.youtube.com/embed/https://youtu.be/YMsXQiflpZo?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="page6-video1"
      class="ஆண்டு 1">
      <iframe src="{{videourl_video1}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <a ui-sref="1()" id="page6-button17" class="button button-positive button-block">முதல் பக்கம்</a>
  </ion-content>
</ion-view>