<ion-view title="சரியான விடை " id="page14">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/tKv2VwpT9WTbAE1xwyg3_.gif" style="display: block; width: 100%; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="page14-heading17" style="color:#C524FE;text-align:center;">வாழ்த்துகள் சரியான விடை!</h3>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/tKv2VwpT9WTbAE1xwyg3_.gif" style="display: block; width: 100%; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page15()" id="page14-button24" class="button button-positive button-block">அடுத்த கேள்வி</a>
  </ion-content>
</ion-view>