<ion-view title="நன்றி " id="page25" style="background-color:#FF2905;">
  <ion-content padding="true" class="has-header">
    <h3 id="page25-heading25" style="color:#000000;text-align:center;">நன்றி.</h3>
    <div id="page25-markdown25" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FAF5F5;">சிறப்பாகப் பயிற்சிகளுக்கு விடையளித்தமைக்கு வாழ்த்துகள். மீண்டும் ஒரு முறை பழமொழிகளையும் அதன் பொருளையும் வகுப்பின் முன் கூறவும். நன்றி. </p>
    </div>
    <div>
      <img src="img/uB7guymySzm833JlOEoz_tamilthanks.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page1()" id="page25-button31" class="button button-positive button-block">முகப்பு</a>
  </ion-content>
</ion-view>