<ion-view title="பயிற்சி செய்வோம் வாரீர்!" id="page22" style="background-color:#F86BB1;">
  <ion-content padding="true" class="has-header">
    <div id="page22-markdown14" class="show-list-numbers-and-dots">
      <p style="color:#000000;">4.கீழே கொடுக்கப்பட்ட காலி இடத்திற்குப் பொருந்தும் பழமொழியைத் தெரிவு செய்க. </p>
    </div>
    <div id="page22-markdown12" class="show-list-numbers-and-dots">
      <p style="color:#000000;">தோமஸ் அல்வா எடிசன் 1000 முறை விளக்கு கண்டுபிடிப்பதில் தோல்வியுற்றாலும்,
        <strong></strong>
        <strong></strong>
        <strong></strong>
        <strong></strong>
        <strong></strong>
        <strong></strong>
        <strong></strong>
        <strong></strong>
        <strong></strong>
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <div id="page22-markdown17" class="show-list-numbers-and-dots">
      <p style="color:#000000;">என்பதற்கொப்ப முயற்சியோடு செயல்பட்டு வெற்றிகரமாக விளக்கினைக் கண்டுப்பிடித்தார்.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 29px;"></div>
    <ion-list id="page22-list4">
      <ion-item id="page22-list-item16" ui-sref="page24()">இளங்கன்று பயமறியாது</ion-item>
      <ion-item id="page22-list-item17" ui-sref="page23()">முயற்சியுடையோர் இகழ்ச்சியடையார்</ion-item>
      <ion-item id="page22-list-item18" ui-sref="page24()">அகத்தின் அழகு முகத்தில் தெரியும் </ion-item>
    </ion-list>
  </ion-content>
</ion-view>