<ion-view title="பழமொழி &amp; விளக்கம் " id="page7" style="background-color:#F36828;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/lipXYCSoSqKXgvPahQNQ_67.PNG" style="display: block; width: 100%; height: 196.996px; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page7-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;">இளமைக் கல்வி சிலைமேல் எழுத்து</p>
    </div>
    <h5 id="page7-heading10" style="color:#000000;">பொருள் :</h5>
    <div id="page7-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#000000;">இளமை காலத்தில் கற்கப்படும் கல்வி சிலையில் பொறிக்கப்பட்ட எழுத்து அழியாதிருப்பதைப் போல மனதில் நிலைத்திருக்கும்.</p>
    </div>
    <a ui-sref="page8()" id="page7-button18" class="button button-positive button-block">வாக்கியம்/சூழல் </a>
  </ion-content>
</ion-view>