<ion-view title="" id="page3" style="background-color:#F91B85;">
  <ion-content padding="true" class="has-header">
    <h5 id="page3-heading26" style="color:#FFFB4A;font-weight:600;font-style:italic;text-align:center;">ஆண்டு 1 அடிப்படையில் கற்பிக்கப்படும் பழமொழிகளையும் அதன் பொருளையும் அவை தொடர்புடைய பயிற்சிகளும் வழங்கப்படுள்ளன.</h5>
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <button id="page3-button32" class="button button-positive button-block">கற்றல் தரம் </button>
    <a ui-sref="1()" id="page3-button8" class="button button-positive button-block">ஆண்டு 1</a>
    <h4 id="page3-heading2" style="color:#F4F7F7;font-weight:600;text-align:center;">4.7 பழமொழிகளையும் அவற்றின் பொருளையும் அறிந்து சரியாகப் பயன்படுத்துவர்.</h4>
    <div class="spacer" style="width: 300px; height: 27px;"></div>
  </ion-content>
</ion-view>