<ion-view title="பயிற்சி செய்வோம் வாரீர்!" id="page13" style="background-color:#34F4EB;">
  <ion-content padding="true" class="has-header">
    <div id="page13-markdown24" class="show-list-numbers-and-dots">
      <p style="color:#000000;">1.‘ஒருவருடைய மன உணர்வை அவர் வாய்விட்டுச் சொல்லாவிட்டாலும் முகம் காட்டிவிடும்’ என்ற பொருளை உணர்த்தும் பழமொழி யாது? </p>
    </div>
    <div class="spacer" style="width: 300px; height: 43px;"></div>
    <ion-list id="page13-list1">
      <ion-item class="royal" id="page13-list-item4" ui-sref="page16()">முயற்சியுடையோர் இகழ்ச்சியடையார்</ion-item>
      <ion-item class="royal" id="page13-list-item5">அகத்தின் அழகு முகத்தில் தெரியும்</ion-item>
      <ion-item class="royal" id="page13-list-item6" ui-sref="page16()">இளங்கன்று பயம் அறியாது.</ion-item>
    </ion-list>
  </ion-content>
</ion-view>