<ion-view title="முகப்பு" hide-nav-bar="true" id="page2" style="background-color:#4A56E7;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <h4 id="page2-heading1" style="color:#ECF00D;font-weight:400;text-align:center;">அனைவருக்கும் வணக்கம்.</h4>
    <div class="spacer" style="width: 300px; height: 35px;"></div>
    <div id="page2-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FCFCFC;">தமிழ் மகுடத்திற்கு உங்களை வரவேற்பதில் மகிழ்ச்சி. தொடக்கப் பள்ளி மாணவர்களின் கற்றலையும் கற்பித்தலையும் மேம்படுத்தும் முயற்ச்சியின் வெளிப்பாடே இந்த தமிழ் மகுடம் செயலி. இதனை ஒவ்வொரு ஆசிரியரும் தங்களின் வகுப்பில் தாராளமாகப் பயன்படுத்தலாம். அவ்வகையில்
        படிநிலை ஒன்றுக்கான பழமொழிகளைக் கற்கவும் கற்பிக்கவும் தமிழ் மகுடம் பங்காற்றும். தயக்கம் வேண்டாம், இது முழுக்க முழுக்க புதிய தர ஆவணத்தை அடிப்படையாகக் கொண்டு உருவாக்கப்பட்டது. </p>
    </div>
    <a ui-sref="page3()" id="page2-button1" class="button button-positive button-block">உள்ளே நுழைக</a>
  </ion-content>
</ion-view>