<ion-view title="சரியான விடை" id="page23">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/FcqoBf8URcafq2mrkoYI_.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="page23-heading23" style="color:#000000;text-align:center;">வாழ்த்துகள் சரியான விடை</h3>
    <div>
      <img src="img/FcqoBf8URcafq2mrkoYI_.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page25()" id="page23-button29" class="button button-positive button-block">அடுத்த பக்கம் </a>
  </ion-content>
</ion-view>