<ion-view title="பழமொழி &amp; விளக்கம்" id="page5" style="background-color:#E737D2;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/4NzwIiHrQyeOiryGwlDV_.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 9px;"></div>
    <h4 id="page5-heading4" style="color:#000000;">பழமொழி :</h4>
    <div id="page5-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;"> இளங்கன்று பயம் அறியாது.</p>
    </div>
    <h4 id="page5-heading5" style="color:#000000;">பொருள் : </h4>
    <div id="page5-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">இளவதினர் எதைப்பற்றியும் கவலைப்படாமல் ஒரு செயலில் துணிந்து இறங்கி விடுவர்.</p>
    </div>
    <a ui-sref="page6()" id="page5-button15" class="button button-positive button-block">வாக்கியம்/சூழல்</a>
  </ion-content>
</ion-view>