<ion-view title="தமிழ் மகுடம் " hide-nav-bar="true" id="page1" style="background-color:#3240E9;">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon No Icon"> </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="false" style="background: url(img/6IbeM6gHTPikj8GpUzFm_6.PNG) no-repeat center;background-size:cover;" class=" manual-remove-top-padding">
    <div class="spacer" style="width: 320px; height: 16.9922px;"></div>
    <a ui-sref="page2()" id="page1-button9" style="font-weight:600;font-size:25px;" class="button button-dark button-block">உள்ளே நுழைக </a>
  </ion-content>
</ion-view>