<ion-view title="பழமொழி &amp; விளக்கம் " id="page9" style="background-color:#3BF4F3;">
  <ion-content padding="true" class="has-header">
    <div ng-init="videourl_video3=&quot;https://www.youtube.com/embed/https://www.youtube.com/watch?v=0esgpbximu8?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="page9-video3">
      <iframe src="{{videourl_video3}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h5 id="page9-heading12" style="color:#000000;">பழமொழி :</h5>
    <div id="page9-markdown15" class="show-list-numbers-and-dots">
      <p style="color:#EB1919;">முயற்சியுடையோர் இகழ்ச்சியடையார்</p>
    </div>
    <h5 id="page9-heading13" style="color:#000000;">பொருள் : </h5>
    <div id="page9-markdown16" class="show-list-numbers-and-dots">
      <p style="color:#EF1515;">எந்தவொரு செயலிலும் முயற்சியோடு ஈடுபடுபவர்க்கு அச்செயலில் வெற்றி கிட்டுவது உறுதி. </p>
    </div>
    <a ui-sref="page10()" id="page9-button20" class="button button-positive button-block">வாக்கியம்/சூழல்</a>
  </ion-content>
</ion-view>