<ion-view title="பயிற்சி செய்வோம் வாரீர்!" id="page18" style="background-color:#F67539;">
  <ion-content padding="true" class="has-header">
    <div id="page18-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#000000;">3.கீழே கொடுக்கப்பட்ட படம் உணர்த்தும் பழமொழி யாது?</p>
    </div>
    <div>
      <img src="img/Djm7GEUCRR23BvwhIJgQ_.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="page18-list3">
      <ion-item id="page18-list-item13" ui-sref="page20()">இளமைக் கல்வி சிலைமேல் எழுத்து</ion-item>
      <ion-item id="page18-list-item14" ui-sref="page20()">முயற்சியுடையோர் இகழ்ச்சியடையார்</ion-item>
      <ion-item id="page18-list-item15" ui-sref="page19()">இளங்கன்று பயமறியாது</ion-item>
    </ion-list>
  </ion-content>
</ion-view>