<ion-view title="வாக்கியம்/சூழல்" id="page12" style="background-color:#F85461;">
  <ion-content padding="true" class="has-header">
    <div id="page12-markdown21" class="show-list-numbers-and-dots">
      <p style="color:#000000;">முத்துவின் முகவாட்டத்தை வைத்தே அவன் ஓட்டப் பந்தயத்தில் தோல்வியுற்றதை அவன் வாய்விட்டுக் கூறாவிட்டாலும் அவனின் தாயார் அறிந்தார். </p>
    </div>
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <h4 id="page12-heading16" style="color:#000000;">குறிப்புச் சொற்கள் :</h4>
    <div class="spacer" style="width: 300px; height: 19px;"></div>
    <div id="page12-markdown22" class="show-list-numbers-and-dots">
      <p style="color:#000000;">1.முகவாட்டத்தை வைத்தே </p>
    </div>
    <div id="page12-markdown23" class="show-list-numbers-and-dots">
      <p style="color:#000000;">2.வாய்விட்டுக் கூறாவிட்டாலும் </p>
    </div>
    <div>
      <img src="img/Mcq4loyaR3OzrMTl5k0Z_66.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page13()" id="page12-button23" class="button button-positive button-block">பயிற்சிகள்</a>
  </ion-content>
</ion-view>