<ion-view title="மீண்டும் முயல்க" id="page20" style="background-color:#64CBE3;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/eL7InlcCS92LONUsovxd_.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="page20-heading18" style="color:#000000;text-align:center;">தவறான விடை </h1>
    <a ui-sref="page18()" id="page20-button27" class="button button-positive button-block">மீண்டும் முயல்க</a>
  </ion-content>
</ion-view>